.container {
	text-align: center;
	margin: 0px auto;
	width: 600px;
	padding: 20px;
	border: 2px dotted black;
	background-color: #87CEEB;
}


.popular {
	text-align: center;
	font-family: Georgia;
}

h1 {
	font-family: Georgia;
	color: #FF6347;
	text-align: center;
}

th {
	text-align: left;
}


