.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.
 
    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  background-color: #000;
  margin: 0 auto;  
  width: 720px;
}
 
header {
}
nav {
float: right;
width: 110px;
 
}
 
h2 {
  margin: 0px;
}
 
nav ul{
  list-style-type: none;
  display: inline;
}
 
.content {
float: left;
width: 589px;
border-right: solid 1px;
padding-right: 10px;
}
 
.footer {
  padding-top: 10px;
  clear: both;
  border-top: solid 1px;
}